/Badge-master/local.properties
/Badge-master/.gradle
/Badge-master/.idea
/Badge-master/build
/Badge-master/Badge-master.iml
/Badge-master/sample/sample.iml
/Badge-master/sample/build
/Badge-master/badge/badge.iml
/Badge-master/badge/build
